a, a:link, a:visited { color: #333; text-decoration: underline; }
a:hover { color: #000; text-decoration: none; }

body 
{
    background-color: Black;
    margin: 0px;
    padding: 0px;
    color: #625e5e;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
}

#price_table, table, th, td
{
    width: 800px;
    border: 1px solid #2d961c; 
    border-bottom-color: #2d961c;
    border-collapse:collapse;
    text-align: center;
}


/*---Main style start---*/
#greenhouse_wrapper 
{
    width: 900px;
    padding: 20px 20px 0;
    margin: 0 auto;
}
#greenhouse_header 
{
    width: 860px;
    height: 115px;
    padding: 0 30px;
    background: url(/icons/greenhouse_header.png) no-repeat;
}
#greenhouse_main 
{
    clear: both;
    width: 840px;
    padding: 40px 30px;
    background: #fff url(/icons/greenhouse_main.png) no-repeat top;
}
#greenhouse_footer 
{
    width: 840px;
    padding: 20px;
    text-align: center;
}
#language_bar
{
    float:right;
    margin: 70px 0 0 0;
}
#site_title 
{
    float: left;
    width: 350px;
    margin: 45px 0 0 0;
    text-align: center;
}
#site_title a 
{
    margin: 0px;
    padding: 0px;
    color: #252b2d;
    font-weight: bold;
    text-decoration: none;
}
#site_title a span {
	display: block;
	color: #333;
	font-weight: normal;
	margin-top: 5px;
	letter-spacing: 5px;
}

.tabHeaderTextStyle
{
    cursor: default;
}

/*---Main style start---*/

/*---Section layout style begin---*/
.section
{
    clear: both;
}
.section_header
{   
    font-size:28px;
    font-family: Geneva;
    color: #9c6421;
    padding:5px 0px;
    margin: 0 0 10px 0;
}
.section_content
{
    width: 60%;
    float: left;
}
.section_img
{
    float: right;
    text-align: right;
    width: 40%;
    font-size:small;
    font-family:Geneva;
}
.section_gallery
{
    clear: both;
}
.section_footer
{
   clear:both;
   background: -webkit-gradient(linear, 0 20%, 0 100%, from(white), to(#C4EFAA));    
   width: 100%;
   height: 30px;
}
/*---Section layout style begin---*/

/*--- OBOUT style start*/
.ImageZoomEntryContainer
{
    border:0 !important;
}
.ImageZoomEntryCell
{
    margin:10px !important;
}
.ImageZoomEntryCellSelected
{
    margin:10px !important;
}
/*--- OBOUT style end*/
/* ajax__tab_green-theme theme (images/green.jpg) */
.ajax__tab_green-theme
{
    min-height: 500px;
}
.ajax__tab_green-theme .ajax__tab_header 
{
 
}
.ajax__tab_green-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(/icons/green.jpg);
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align: bottom;
    /*border:solid 1px #a3a3a3;*/
    border-bottom-width:0px;
}
.ajax__tab_green-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_green-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(/icons/green.jpg) #bfdaff repeat-x left -1300px;
}
.ajax__tab_green-theme .ajax__tab_active .ajax__tab_tab 
{
    background-color:White;
}
.ajax__tab_green-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(/icons/green.jpg) #2d961c repeat-x left -1400px;
}
.ajax__tab_green-theme .ajax__tab_body 
{
    padding:0.25em 0.5em;
/*    border:solid 1px #808080;*/
    min-height: 600px;
}
/* ajax__tab_green-theme theme (images/green.jpg) */