/*Header begin*/
.incomesRoomHeaderColl
{
    background-color: #CACACA;
    text-align:center;
    font-weight:bold;
    width:150px;
}
.incomesStatusHeaderCell
{
    background-color: #CACACA;
    text-align:center;
    font-weight:bold;
}

.incomesSubHeaderColl
{
    background-color: #CACACA;
    text-align: center;  
    width: 90px;
}
.incomesTotalHeaderColl
{
    background-color: #CACACA;
    text-align:center;  
    font-weight:bold;
    width:100px;
}
.incomesTotalHeaderRow
{
    background-color: #CACACA;
    text-align:center;  
    font-weight:bold;
}
.incomesTotalHeaderSubRow
{
    background-color: #CACACA;
    text-align:center; 
    font-weight:bold;
}
/*Header end*/
/*Data row begin White*/
.incomesRoomNameDataRowWhite
{
    /*background-color: #eeeeee;*/
}

.incomesRoomSumDataRowWhite
{
    /*background-color: #eeeeee;*/
}
.incomesRoomDaysDataRowWhite
{
    /*background-color: #eeeeee;*/    
}
.incomesRoomPercentDataRowWhite
{
    /*background-color: #eeeeee;*/
}
.incomesDataRowWhite
{
    text-align:center;  
}
.incomesTotalDataRowWhite
{
    /*background-color: #eeeeee;*/
    text-align:center; 
    font-weight:bold; 
}
/*Data row end*/

/*Data row begin Silver*/
.incomesRoomNameDataRowSilver
{
    background-color: #eeeeee;
}

.incomesRoomSumDataRowSilver
{
    background-color: #eeeeee;   
}
.incomesRoomDaysDataRowSilver
{
    background-color: #eeeeee;        
}
.incomesRoomPercentDataRowSilver
{
    background-color: #eeeeee;    
}
.incomesDataRowSilver
{
    text-align:center;  
    background-color: #eeeeee;
}
.incomesTotalDataRowSilver
{
    background-color: #eeeeee;
    text-align:center; 
    font-weight:bold; 
}
/*Data row end*/