body 
{
    color: #625e5e;
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
}
.labelBookingDetails
{
    color: #666666;
    background-color:transparent;
    font-weight:bold;
}
.labelBookingDetailsSpecial
{
    color: #7f6600;
    background-color:transparent;
    font-weight:bold;
}
.sundaycellstyle
{
}
.sundayheaderstyle
{
    color:#B00000;
    
}
.weekday
{
    background-color:White;
}

.pastday
{
    background-color:#CCCCCC;
}
.errorValidation
{
    color: red;
}
.loginForm
{
    border-style:solid;
    border-width:2px;
    border-color:White;
}
.loginoutbutton
{
    color: red;
}
.bookigDetailsDiv
{
    background: -webkit-gradient(linear, 0 20%, 0 100%, from(white), to(#C4EFAA));
    width:100%;
}
/*---Main layout style begin---*/
.main_div
{
    width: 70%;
    padding: 40px 30px;
    margin: 30px auto;
    border-top-left-radius : 15px;
    border-top-right-radius : 15px;
    background-color:White;
}
.main_header_div
{
    text-align:center;
}
.main_menu_div
{
}
.main_content_div
{
    min-height: 600px;
}
.main_footer_div
{
    padding: 20px;
    text-align: center;
    width:70%;
    margin: 30px auto;
}
/*---Main layout style end---*/

