body 
{
    color: #625e5e;
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    background: #959796 url(/icons/wood-repeat.jpg);
}
/*---Main layout style begin---*/
.main_div
{
    width: 70%;
    padding: 40px 30px;
    margin: 30px auto;
    background-color:White;
}
.main_header_div
{
    text-align:center;
}
.main_tool_div
{
    float:right;
}
.main_menu_div
{
    
}
.main_content_div
{
    min-height: 600px;
}
.main_footer_div
{
    color: White;
    padding: 20px;
    text-align: center;
    width:70%;
    margin: 30px auto;
}
/*---Main layout style end---*/
/*cell style start*/
.sundaycellstyle
{
}
.sundayheaderstyle
{
    color:#B00000;
}
.weekday
{
    background-color:White;
}
.pastday
{
    background-color:#CCCCCC;
}
/*cell style end*/
.errorValidation
{
    color: red;
}
/*event style start*/
.eventNotConfirmed
{
	background-color: White;
	width:auto;
	height:inherit;
}
.eventConfirmed
{
    background-color: Orange;
}
.eventPrepaid
{
    background-color: Red;
}
.eventFullpaid
{
}
.eventProlongationPossible
{
    background-color: #EE82EE;
}
/*event style end*/
/*login form style start*/
.loginForm
{
    border-style:solid;
    border-width:2px;
    border-color:White;
}
.loginoutbutton
{
    color: red;
}
/*login form style end*/
/*bookigDetails style start*/
.labelBookingDetails
{
    color: #666666;
    background-color:transparent;
    font-weight:bold;
}
.labelBookingDetailsSpecial
{
    color: #7f6600;
    background-color:transparent;
    font-weight:bold;
}
.bookigDetailsDiv
{
    background: #eeeeee; 
    width:100%;
}
/*bookigDetails style end*/
