.utilitiesDetailsControlsDiv
{
}

.utilitiesDetailsHeaderDiv
{
    font-weight: bolder;
}

.utilitiesDetailsButtonDiv
{
    right: 0; 
    position: absolute;
    bottom: 0;
}
.errorValidation
{
    color: red;
}

.boldLabel
{
    color: #666666;
    background-color:transparent;
    font-weight:bold;
}

.utilitiesHeaderColl
{
    background-color: #CACACA;
    text-align:center;
    font-weight:bold;
    width:150px;
}

.utilitiesDataRowWhite
{
    /*background-color: #eeeeee;*/
}

.utilitiesDataRowSilver
{
    background-color: #eeeeee;   
}

.utilitiesAddButton
{
    padding-right: 10px;
    height: 16px;
    width : 16px;
}
.utilitiesEditButton
{
    padding-right: 10px;
    height: 16px;
    width : 16px;
}
.utilitiesEditButton
{
    padding-right: 10px;
    height: 16px;
    width : 16px;
}
