
/* 

DayPilot Scheduler Theme 
http://themes.daypilot.org/scheduler/theme/bspmyk

Compatibility:

DayPilot Pro for ASP.NET WebForms 7.2
http://www.daypilot.org/

DayPilot Pro for ASP.NET MVC 7.2
http://mvc.daypilot.org/

DayPilot Pro for Java 7.2
http://java.daypilot.org/

*/

.myhstyle_main 
{
	border: 1px solid #000000;
}

.myhstyle_main, .myhstyle_main td 
{
}

.myhstyle_event { 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.myhstyle_event_inner { 
	position: absolute;
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: 0px;

	color: #ffffff;
	background-color: #8dc63f;
	
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	padding: 3px;
	border: 1px solid #58595b;

}

.myhstyle_timeheadergroup,
.myhstyle_timeheadercol
{
	color: #666666;
	background: #eeeeee;
	
}

.myhstyle_rowheader,
.myhstyle_corner
{
	color: #666666;
	background: #eeeeee;
	
}

.myhstyle_rowheader_inner {
	padding: 2px;
}

.myhstyle_timeheadergroup_inner,
.myhstyle_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #000000;
	text-align: center;
	padding: 2px;
}

.myhstyle_timeheadergroup_inner {
	border-bottom: 1px solid #000000;
}

.myhstyle_divider,
.myhstyle_divider_horizontal,
.myhstyle_resourcedivider 
{
	background-color: #000000;
}

.myhstyle_matrix_vertical_line,
.myhstyle_matrix_horizontal_line 
{
	background-color: #000000;
}

.myhstyle_cellcolumn 
{
	background: #ffffff;
}

.myhstyle_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #0474d6;
	
	background: -moz-linear-gradient(
		top,
		#0480eb 0%,
		#0468c1);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0480eb),
		to(#0468c1));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#0480eb", endColorStr="#0468c1");
	
}

.myhstyle_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}