
/* 

DayPilot Scheduler Theme 
http://themes.daypilot.org/scheduler/theme/n7xwzr

Compatibility:

DayPilot Pro for ASP.NET WebForms 7.1
http://www.daypilot.org/

DayPilot Pro for ASP.NET MVC 7.1
http://mvc.daypilot.org/

DayPilot Pro for Java 7.1
http://java.daypilot.org/

*/

.plussupermarkt_main 
{
	border: 1px solid #cccccc;
}

.plussupermarkt_main, .plussupermarkt_main td 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.plussupermarkt_event { 
	
}

.plussupermarkt_event_inner { 
	position: absolute;
	
	margin: 0px;

	color: #000000;
	background-color: #5caeff;
	
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	
	padding: 3px;
	
	
	border: 1px solid #4a8bcc;
	
	
	text-shadow:
	0px -1px 0px rgba(000,000,000,0.2),
	0px 1px 0px rgba(255,255,255,1);
	
	
	
	left: 0px;
	right: 2px;
	top: 0px;
	bottom: 3px;
	-moz-box-shadow:
		inset 0px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
	-webkit-box-shadow:
		inset 0px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
	box-shadow:
		inset 0px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
	
	
}

.plussupermarkt_timeheadergroup,
.plussupermarkt_timeheadercol
{
	color: #ffffff;
	background: #5a5959;
	
}

.plussupermarkt_rowheader,
.plussupermarkt_corner
{
	color: #ffffff;
	background: #5a5959;
	
}

.plussupermarkt_rowheader_inner {
	padding: 2px;
}

.plussupermarkt_timeheadergroup_inner,
.plussupermarkt_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #cccccc;
	text-align: center;
	padding: 2px;
}

.plussupermarkt_timeheadergroup_inner {
	border-bottom: 1px solid #cccccc;
}

.plussupermarkt_divider,
.plussupermarkt_divider_horizontal,
.plussupermarkt_resourcedivider 
{
	background-color: #cccccc;
}

.plussupermarkt_matrix_vertical_line,
.plussupermarkt_matrix_horizontal_line 
{
	background-color: #d4d4d4;
}

.plussupermarkt_cellcolumn 
{
	background: #ffffff;
}

.plussupermarkt_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #777777;
	
}

.plussupermarkt_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}