.expensesItemGroupName
{
    width: 150px;
    display: inline-block;
}
.expensesItemGroupSum
{
    width: 150px;
    display: inline-block;
}
.expensesItemSubGroupName
{
    width: 131px;
    display: inline-block;
}
.expensesItemSubGroupSum
{
    width: 150px;
    display: inline-block;
}
.expensesDetailsCost
{
    width: 100px;
    display: inline-block;
}
.expensesDetailsDate
{
    width: 112px;
    display: inline-block;
}
.expensesDetailsDescription
{
    width: 350px;
    display: inline-block;
}