/*Page style*/
body 
{
    margin: 0px;
    padding: 0px;
    color: #625e5e;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    background-color: #000;
    background-image: url(/icons/greenhouse_body.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}
/* main */
#greenhouse_wrapper 
{
    width: 900px;
    padding: 20px 20px 0;
    margin: 0 auto;
}
#greenhouse_header 
{
    width: 860px;
    height: 115px;
    padding: 0 30px;
    background: url(/icons/greenhouse_header.png) no-repeat;
}
#greenhouse_main 
{
    clear: both;
    width: 840px;
    padding: 40px 30px;
    background: #fff url(/icons/greenhouse_main.png) no-repeat top;
}
#greenhouse_content {
	float: left;
	width: 550px;
}
#greenhouse_content p {
	margin-bottom: 20px;
}
/* end of main */
#site_title 
{
    float: left;
    width: 350px;
    margin: 45px 0 0 0;
    text-align: center;
}
#site_title a 
{
    margin: 0px;
    padding: 0px;
    color: #252b2d;
    font-weight: bold;
    text-decoration: none;
}
#site_title a span {
	display: block;
	color: #333;
	font-weight: normal;
	margin-top: 5px;
	letter-spacing: 5px;
}
/*End of Page style*/
.subPartBody
{
    vertical-align: top;
}
.subPartBodyImg
{
    float: right;
    text-align: center;
}

/*End of Text style*/

/*OBOUT*/
.ImageZoomEntryContainer
{
    border:0 !important;
}
.ImageZoomEntryCell
{
    margin:10px !important;
}
.ImageZoomEntryCellSelected
{
    margin:10px !important;
}
/**/