.incomesHeaderRoomNameDiv
{
    width: 150px;
    display: inline-block;
}

.incomesHeaderSumDiv
{
    width: 150px;
    display: inline-block;
}

.incomesHeaderAmountOfDayDiv
{
    width: 150px;
    display: inline-block;
}

.incomesHeaderPercentDiv
{
    width: 150px;
    display: inline-block;
}

.incomesRoomNameDiv
{
    width: 150px;
    display: inline-block;
}

.incomesSumDiv
{
    width: 150px;
    display: inline-block;
}

.incomesAmountOfDayDiv
{
    width: 150px;
    display: inline-block;
}

.incomesPercentDiv
{
    width: 150px;
    display: inline-block;
}