body 
{
    color: #AAF200;
    background: #AAF200;
    background: -webkit-linear-gradient(top right, #fafafa, #AAF200)
}
.labelHeader
{
    color: #ffffff;
    background-color:transparent;
    font-size:xx-large;
    font-style:oblique;
    font-weight:bold;
}

.labelVisiblePeriod 
{
    color: #ffffff;
    background-color:transparent;
    font-style:oblique;
    font-weight:bold;
}

.labelFooter
{
    color: #ffffff;
    background-color:transparent;
    font-style:oblique;
    font-weight:bold;
}

.labelBookingDetails
{
    color: #666666;
    background-color:transparent;
    font-style:oblique;
    font-weight:bold;
}

.labelBookingDetailsSpecial
{
    color: #7f6600;
    background-color:transparent;
    font-style:oblique;
    font-weight:bold;
}