
/* 

DayPilot Scheduler Theme 
http://themes.daypilot.org/scheduler/theme/k65x2u

Compatibility:

DayPilot Pro for ASP.NET WebForms 7.1
http://www.daypilot.org/

DayPilot Pro for ASP.NET MVC 7.1
http://mvc.daypilot.org/

DayPilot Pro for Java 7.1
http://java.daypilot.org/

*/

.myhstyle_main 
{
	border: 1px solid #cccccc;
}

.myhstyle_main, .myhstyle_main td 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.myhstyle_event { 
	
}

.myhstyle_event_inner { 
	position: absolute;
	
	margin: 0px;

	color: #ffffff;
	background-color: #aaf200;
	
	background: -moz-linear-gradient(
		top,
		#c5ff3c 0%,
		#77a900);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#c5ff3c),
		to(#77a900));  
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#c5ff3c", endColorStr="#77a900");
	
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	
	padding: 3px;
	
	
	border: 1px solid #b6bdb6;
	
	
	text-shadow:
	0px -1px 0px rgba(000,000,000,0.2),
	0px 1px 0px rgba(255,255,255,1);
	
	
	
	left: 0px;
	right: 2px;
	top: 0px;
	bottom: 3px;
	-moz-box-shadow:
		inset 0px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
	-webkit-box-shadow:
		inset 0px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
	box-shadow:
		inset 0px 0px 2px rgba(255,255,255,0.8),
		1px 2px 3px rgba(000,000,000,0.3);
	
	
}

.myhstyle_timeheadergroup,
.myhstyle_timeheadercol
{
	color: #666666;
	background: #ffcf75;
	
	background: -moz-linear-gradient(
		top,
		#ffd588 0%,
		#ffc962);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffd588),
		to(#ffc962));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffd588", endColorStr="#ffc962");
	
}

.myhstyle_rowheader,
.myhstyle_corner
{
	color: #666666;
	background: #ffcf75;
	
	background: -moz-linear-gradient(
		left,
		#ffd588 0%,
		#ffc962);
	background: -webkit-gradient(
		linear, left top, right top, 
		from(#ffd588),
		to(#ffc962));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffd588", endColorStr="#ffc962", GradientType=1);
	
}

.myhstyle_rowheader_inner {
	padding: 2px;
}

.myhstyle_timeheadergroup_inner,
.myhstyle_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #cccccc;
	text-align: center;
	padding: 2px;
}

.myhstyle_timeheadergroup_inner {
	border-bottom: 1px solid #cccccc;
}

.myhstyle_divider,
.myhstyle_divider_horizontal,
.myhstyle_resourcedivider 
{
	background-color: #cccccc;
}

.myhstyle_matrix_vertical_line,
.myhstyle_matrix_horizontal_line 
{
	background-color: #eeeeee;
}

.myhstyle_cellcolumn 
{
	background: #ffffff;
}

.myhstyle_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #777777;
	
	background: -moz-linear-gradient(
		top,
		#838383 0%,
		#6b6b6b);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#838383),
		to(#6b6b6b));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#838383", endColorStr="#6b6b6b");
	
}

.myhstyle_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}