<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="MyHotelDBConnectionString" connectionString="Data Source=SQL5003.Smarterasp.net;Initial Catalog=DB_99B829_UkrRoot;User Id=DB_99B829_UkrRoot_admin;Password=ukr240985"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<location path="Business/RoomBookingMgmt/RoomBookingMgmtForm.aspx">
		<system.web>
			<authorization>
				<allow users="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Business/RoomBookingMgmt/RoomBookingDetailsForm.aspx">
		<system.web>
			<authorization>
				<allow users="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="Business/ExpensesMgmt/ExpensesMgmtForm.aspx">
    <system.web>
      <authorization>
        <allow users="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
		<pages clientIDMode="AutoID">
			<namespaces>
				<clear/>
				<add namespace="DayPilot.Web.Ui"/>
				<add namespace="DayPilot.Web.Ui.Enums"/>
			</namespaces>
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="LoginForm.aspx" timeout="30" defaultUrl="/Business/RoomBookingMgmt/RoomBookingMgmtForm.aspx" cookieless="AutoDetect">
				<credentials passwordFormat="Clear">
					<user name="admin" password="1"/>
				</credentials>
			</forms>
		</authentication>
	</system.web>
</configuration>
